{% extends "templates/web.html" %}

{% block content %}

<div class="col">
	
	<h1>{{ title }}</h1>
	</div>
	<div class="col">
	<br>
	
	<ul class="list-unstyled">
	<blockquote
	style="border-left: 3px solid #d1d8dd; padding: 7px 15px; margin-left: 0px;">
		<li>
			<label><b>Start Date and Time: </b></label> {{ start_datetime.strftime('%d %B %Y') }} at {{ start_datetime.strftime('%H:%M') }}
		</li>
		<li>
			<label><b>End Date and Time: </b></label> {{ end_datetime.strftime('%d %B %Y') }} at {{ end_datetime.strftime('%H:%M') }}
		</li>
		<li>
			<label><b>Venue:</b></label> {{ doc.get_formatted("venue") }}
		</li>
		<li>
			<label><b>Committee Name: </b></label> {{ doc.get_formatted("committee_name") }}
		</li>
		<li>
			<label><b>Status: </b></label> {{ doc.status }}
		</li>
	</blockquote>
	</ul>
	
	</div>
	
	<div class="col">
	<div class="col">
	
            {%- if status == 'Completed' -%}

            <span class="badge badge-success">Completed</span>
            {%- elif status == 'Planned' -%}

            <span class="badge badge-primary">Planned</span>
            
            {%- elif status == 'Invitation Sent' -%}

            <span class="badge badge-primary">Invitation Sent</span>
            
            {%- elif status == 'In Progress' -%}

            <span class="badge badge-primary">In Progress</span>
            
            {%- elif status == 'Cancelled' -%}

            <span class="badge badge-primary">Cancelled</span>

            {%- endif -%}
</div></div>
	<div class="col">
	<pre>    </pre>
	<hr>
	<h2>Agenda and minutes:</h2>
	
	<table style="border-collapse: collapse; width: 100%; margin-top: 20px;">
    <tr>
        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px; background-color: #f2f2f2;">Meeting Agenda</th>
        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px; background-color: #f2f2f2;">Meeting Minute</th>
        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px; background-color: #f2f2f2;">Action Taken</th>
        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px; background-color: #f2f2f2;">Assigned To</th>
    </tr>
    {% for each in agenda %}
    <tr>
        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">{{ each.description }}</td>
        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">{{ each.minute }}</td>
        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">{{ each.action }}</td>
        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">{{ each.assigned_to }}</td>
    </tr>
    {% endfor %}
</table>



	<hr>
	<h2>Supplementary Agenda:</h2>
	<table style="border-collapse: collapse; width: 100%; margin-top: 20px;">
    <tr>
        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px; background-color: #f2f2f2;">Supplementary Agenda</th>
        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px; background-color: #f2f2f2;">Meeting Minute</th>
        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px; background-color: #f2f2f2;">Action Taken</th>
        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px; background-color: #f2f2f2;">Assigned To</th>
    </tr>
    {% for each in supplementary_agenda %}
    <tr>
        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">{{ each.description }}</td>
        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">{{ each.minute }}</td>
        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">{{ each.action }}</td>
        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">{{ each.assigned_to }}</td>
    </tr>
    {% endfor %}
</table>

	<hr>
	<h2>Agenda By Chairman Permission:</h2>
	<table style="border-collapse: collapse; width: 100%; margin-top: 20px;">
    <tr>
        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px; background-color: #f2f2f2;">Agenda By Chairman Permission</th>
        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px; background-color: #f2f2f2;">Meeting Minute</th>
        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px; background-color: #f2f2f2;">Action Taken</th>
        <th style="border: 1px solid #dddddd; text-align: left; padding: 8px; background-color: #f2f2f2;">Assigned To</th>
    </tr>
    
    {% for each in by_chairman_permission %}
    <tr>
        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">{{ each.description }}</td>
        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">{{ each.minute }}</td>
        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">{{ each.action }}</td>
        <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">{{ each.assigned_to }}</td>
    </tr>
    {% endfor %}
</table>

<hr>
	<h2>Attendees:</h2>
	<ul>
		{% for attendee in doc.attendees %}
		<li>
			{{ attendee.full_name }} {% if attendee.accepted %} <i class="icon icon-ok"></i> {% endif %}
		</li>
		{% endfor %}
</ul>

</div>

{% endblock %}
