{% extends "templates/web.html" %}

{% block content %}

<div class="col">
	
	<h1>{{ title }}</h1>
	</div>
	<div class="col">
	<br>
	
	<ul class="list-unstyled">
	<blockquote
	style="border-left: 3px solid #d1d8dd; padding: 7px 15px; margin-left: 0px;">
		<li>
			<label>Date:</label> {{ doc.get_formatted("date") }}
		</li>
		<li>
			<label>Time:</label> {{ doc.get_formatted("from_time") }} to {{ doc.get_formatted("to_time") }}
		</li>
		<li>
			<label>Status: </label> {{ doc.status }}
		</li>
	</blockquote>
	</ul>
	
	</div>
	
	<div class="col">
	<div class="col">
	
            {%- if status == 'Completed' -%}

            <span class="badge badge-success">Completed</span>
            {%- elif status == 'Planned' -%}

            <span class="badge badge-primary">Planned</span>
            
            {%- elif status == 'Invitation Sent' -%}

            <span class="badge badge-primary">Invitation Sent</span>
            
            {%- elif status == 'In Progress' -%}

            <span class="badge badge-primary">In Progress</span>
            
            {%- elif status == 'Cancelled' -%}

            <span class="badge badge-primary">Cancelled</span>

            {%- endif -%}
</div></div>
	<div class="col">
	<pre>    </pre>
	<hr>
	<h2>Agenda:</h2>
	
		
		<ul>
		{% for agenda in doc.agenda %}
		<li>
			{{ agenda.description }}
		</li>
		{% endfor %}
	</ul>

	<hr>
	<h2>Supplementary Agenda:</h2>
		<ul>
		{% for agenda in doc.supplementary_agenda %}
		<li>
			{{ agenda.description }}
		</li>
		{% endfor %}
		
	</ul>

	<hr>
	<h2>Agenda By Chairman Permission:</h2>
		<ul>
		{% for agenda in doc.by_chairman_permisssion %}
		<li>
			{{ agenda.description }}
		</li>
		{% endfor %}
	</ul>

	<hr>
	<h2>Attendees:</h2>
	<ul>
		{% for attendee in doc.attendees %}
		<li>
			{{ attendee.full_name }} {% if attendee.accepted %} <i class="icon icon-ok"></i> {% endif %}
		</li>
		{% endfor %}
	</ul>

	<hr>
	<h2>Minutes:</h2>
	<ul>
   {% set processed_actions = [] %}
   {% for minute in doc.minutes %}
      {% if minute.action not in processed_actions %}
         <li>
            <label><b>Action: </b></label> {{ minute.action }}<br>
            <label><b>Assigned To:</b></label> {{ minute.assigned_to }}<br>
            <label><b>Description:</b></label> {{ minute.description }}<br>
         </li>
         {% set _ = processed_actions.append(minute.action) %}
      {% endif %}
   {% endfor %}
</ul>

</div>
{% endblock %}
