<!DOCTYPE html>
<html>

<head>
    <title>Meeting Minutes: {{ meeting_title }}</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <p>
        <span class="label label-default"> {{ sender }}</span> Inviting you for a Meeting
    </p>
    <blockquote style="border-left: 3px solid #d1d8dd; padding: 7px 15px; margin-left: 0px;">
        <b>Start Date and Time: </b>{{ start_datetime.strftime('%d %B %Y') }} at {{ start_datetime.strftime('%H:%M') }}<br>
        <b>End Date and Time: </b>{{ end_datetime.strftime('%d %B %Y') }} at {{ end_datetime.strftime('%H:%M') }}<br>
        <b>Venue: </b>{{ venue }}<br>
        <b>Committee Name: </b>{{ committee_name }}<br>
        <b>Meeting Website: </b>https://erp.gndec.ac.in/{{ route }}
    </blockquote>
    <br>

	{% if invitation_message %}
		<h3>Invitation Message</h3>
		{% for attendee_name in attendee %}
		<p>
			    Respected {{ attendee_name }},<br><br>
			    {{ invitation_message or '' }}
		</p>
		{% endfor %}
	{% endif %}

    <br>
    {% if agenda %}
    <h4>Meeting Agenda</h4>
    <table>
        {% for each in agenda %}
        <tr>
            <td>{{ each.description }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <br>
    {% if supplementary_agenda %}
    <h4>Meeting Supplementary Agenda</h4>
    <table>
        {% for each in supplementary_agenda %}
        <tr>
            <td>{{ each.description }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <br>
    {% if by_chairman_permission %}
    <h4>Agenda By Chairman Permission</h4>
    <table>
        {% for each in by_chairman_permission %}
        <tr>
            <td>{{ each.description }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</body>

</html>

