<!DOCTYPE html>
<html>
<head>
    <title>Meeting Minutes: {{ meeting_title }}</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
{% if agenda %}
    <h1>Meeting Minutes: {{ meeting_title }}</h1>
    <table>
        <tr>
            <th>Agenda</th>
            <th>Meeting Minute</th>
            <th>Action Taken</th>
            <th>Assigned To</th>
            <th>Due Date</th>
        </tr>
        {% for each in agenda %}
        <tr>
            <td>{{ each.description }}</td>
            <td>{{ each.minute }}</td>
            <td>{{ each.action }}</td>
            <td>{{ each.assigned_to }}</td>
            <td>{{ each.completed_by }}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
<br><br>
<br><br>
{% if supplementary_agenda %}
    <table>
        <tr>
            <th>Supplementary Agenda</th>
            <th>Meeting Minute</th>
            <th>Action Taken</th>
            <th>Assigned To</th>
            <th>Due Date</th>
        </tr>
        {% for each in supplementary_agenda %}
        <tr>
            <td>{{ each.description }}</td>
            <td>{{ each.minute }}</td>
            <td>{{ each.action }}</td>
            <td>{{ each.assigned_to }}</td>
            <td>{{ each.completed_by }}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
<br><br>
<br><br>
{% if by_chairman_permission %}
    <table>
        <tr>
            <th>Agenda By Chairman Permission</th>
            <th>Meeting Minute</th>
            <th>Action Taken</th>
            <th>Assigned To</th>
            <th>Due Date</th>
        </tr>
        {% for each in by_chairman_permission %}
        <tr>
            <td>{{ each.description }}</td>
            <td>{{ each.minute }}</td>
            <td>{{ each.action }}</td>
            <td>{{ each.assigned_to }}</td>
            <td>{{ each.completed_by }}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
</body>
</html>

